@model (bool success, int service_id)
@if (Model.success)
{
    <div class="alert alert-success">
        Service validated successfully.
    </div>

    <a asp-controller="Review" asp-action="RateService" asp-route-id="@Model.service_id">Rate service</a>
}
else
{
    <div class="alert alert-danger">
        An error occured while validating the service. Please try again later.
    </div>
}
