@model ServiceOffer
@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (Model != null && Model.Id > 0)
{
    <div class="alert alert-success">
        @successMessage
    </div>
}
else
{
    <div class="alert alert-danger">
        Une erreur s'est produite lors de la récupération des détails du service. Veuillez réessayer plus tard.
    </div>
}