@model bool

@if (Model)
{
    <div class="alert alert-success">
        Request sent successfully.
    </div>
}
else
{
    <div class="alert alert-danger">
        An error occured while Requesting the service. Please try again later.
    </div>
}